In [1]:
a = 123

In [2]:
a

123

In [3]:
b = 2

In [4]:
a**b

15129

In [5]:
a/b

61.5

In [6]:
a//b

61

In [7]:
a=3
b=10
print(a,b)

3 10

In [8]:
a/b

0.3

In [9]:
a//b

0

In [10]:
b/a

3.3333333333333335

In [12]:
b//a

3

In [14]:
b%a
# 나머지만 가져오기

1

In [15]:
a=-3
b=2

In [16]:
a%2

1

In [17]:
a//b

-2

In [21]:
#문자열

In [24]:
food = "python's favorite food is perl"

In [25]:
food

"python's favorite food is perl"

In [34]:
>>> multi="""
life is too short
you need python
"""

In [36]:
print(multi)

life is too short
you need python

In [37]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [38]:
print(head)

python

In [39]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [40]:
a = "life is too short, you need python"

In [41]:
a[5]

'i'

In [42]:
a[:4]

'life'

In [43]:
a[0:17]

'life is too short'

In [44]:
a[22]

' '

In [45]:
a[0:3]

'lif'

In [47]:
a[19:]

'you need python'

In [49]:
a

'life is too short, you need python'

In [62]:
#포메팅

a = "20170717Rainy"
date = a[:8]
weather = a[8:]
print(date,weather)

20170717 Rainy

In [57]:
"I have %d apples" %3

'I have 3 apples'

In [58]:
"rate is %s" %3.234

'rate is 3.234'

In [60]:
number = 10
day = "three"
"I are %d apples. So I was sick for %s days"%(number, day)

'I are 10 apples. So I was sick for three days'

In [61]:
"Error is %d%%"%98

'Error is 98%'

In [64]:
a = "%10s" % "hi"

In [65]:
a[8]

'h'

In [66]:
print(a)

        hi

In [68]:
"%-10sjane" % "hi"

'hi        jane'

In [69]:
a = "%10s" % "hihihihihihihihi"

In [71]:
print(a)

hihihihihihihihi

In [72]:
a = "life is too short"
a.index('t')

8

In [73]:
a="HI"
a.lower()

'hi'

# 고급문자열 포메팅 꼭 해보기 P.63

In [78]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [79]:
a = [1,2,3,['a','b','c']]

In [80]:
a[0]

1

In [81]:
a[-1]

['a', 'b', 'c']

In [82]:
a[-1][0]

'a'

In [83]:
a[-1][:2]

['a', 'b']

In [84]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [85]:
a = [1,2,3]
a[2] =4 
a

[1, 2, 4]

In [86]:
a[1:2]
a[1:2]=[['a','b']]

In [87]:
a

[1, ['a', 'b'], 4]

In [91]:
a[1]=['a','b']

In [92]:
a

[1, ['a', 'b'], 4]

In [104]:
a = [1,'c',4]

In [105]:
del a[0:1]

In [106]:
a

['c', 4]

In [107]:
a=[1,2,3]
a.pop(1)

2

In [108]:
a

[1, 3]

In [109]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [110]:
a = [1,2,3]
a[2]*2

6

In [111]:
a[2:]*2

[3, 3]

In [112]:
t2 = (2,4)

t1 + t2

(1, 2, 'a', 'b', 2, 4)

In [113]:
t2*2

(2, 4, 2, 4)