# 딕셔너리 자료형 (2장 5절)

In [1]:
dic = {'name':'pey','phone':'01099992222','birth':'1118'}

In [2]:
a = {1:'hi'}

In [3]:
a = {'a':[1,2,3]}

In [4]:
a

{'a': [1, 2, 3]}

In [6]:
a = {1:'a'}
a[2]= 'b'

In [7]:
a

{1: 'a', 2: 'b'}

In [8]:
a[3]= 'c'

In [9]:
a

{1: 'a', 2: 'b', 3: 'c'}

In [13]:
a[3]=[1,2,3]
{'name':'pay',3:[1,2,3],2:'b',1:'a'}

{'name': 'pay', 3: [1, 2, 3], 2: 'b', 1: 'a'}

In [15]:
del a[1]

In [16]:
a

{2: 'b', 3: [1, 2, 3]}

In [17]:
{"김연아":"피겨스케이팅","류현진":"야구","박지성":"축구","영민":"파이썬"}

{'김연아': '피겨스케이팅', '류현진': '야구', '박지성': '축구', '영민': '파이썬'}

In [18]:
grade = {'pey': 10, 'julliet':99}

In [19]:
grade['pey']

10

In [20]:
grade['julliet']

99

In [21]:
a={1:'a',2:'b'}
a[1]

'a'

In [22]:
a[2]

'b'

In [23]:
a = {'a':1, 'b':2}

In [24]:
a['a']

1

In [25]:
a['b']

2

In [26]:
dic = {'name':'pey','phone':'01099992222','birth':'1118'}

dic['name']

'pey'

In [27]:
dic['phone']

'01099992222'

In [28]:
dic['birth']

'1118'

In [29]:
a = {1:'a',1:'b'}

In [30]:
a[1]

'b'

In [31]:
a = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

In [35]:
a = {'name':'pey','phone':'01099992222','birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [40]:

for k in a.keys():
    print(k)

name
phone
birth

In [41]:
list(a.keys())

['name', 'phone', 'birth']

In [42]:
a.values()

dict_values(['pey', '01099992222', '1118'])

In [43]:
a.items()

dict_items([('name', 'pey'), ('phone', '01099992222'), ('birth', '1118')])

In [44]:
a.clear()
a

{}

In [45]:
a = {'name':'pey','phone':'01099992222','birth':'1118'}
a.get('name')

'pey'

In [46]:
a['name']

'pey'

# 45와 46 차이는 nokey를 불러 오는가 안오는가

In [49]:
a.get('nokey')

In [50]:
a['nokey']

KeyError: 'nokey'

In [52]:
a.get('foo','bar')

#foo 값이 없으니 디폴트 값인 bar를 출력

'bar'

In [53]:
a = {'name':'pey','phone':'01099992222','birth':'1118'}
'name' in a

True

In [54]:
'email' in a

False

# 집합 자료형

In [55]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [56]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [57]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [58]:
l1[1]

2

In [59]:
l1[0]

1

In [60]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [61]:
t1[1]

2

In [62]:
t1[0]

1

In [63]:
s1 = set([1,2,3,4,5,6])

In [64]:
s2 = set([4,5,6,7,8,9])

In [65]:
s1 & s2

{4, 5, 6}

In [66]:
s1.intersection(s2)

{4, 5, 6}

In [67]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
s1 - s2

{1, 2, 3}

In [70]:
s2 - s1

{7, 8, 9}

In [71]:
s1.difference(s2)

{1, 2, 3}

In [72]:
s2.difference(s1)

{7, 8, 9}

In [73]:
s1=set([1,2,3])

In [74]:
s1.add(4)

In [75]:
s1

{1, 2, 3, 4}

In [76]:
s1=set([1,2,3])

In [77]:
s1.update([4,5,6])

In [78]:
s1

{1, 2, 3, 4, 5, 6}

In [79]:
s1=set([1,2,3])

In [80]:
s1.remove(2)

In [81]:
s1

{1, 3}

# 자료형 참과 거짓

In [84]:
a = [1,2,3,4]

In [88]:
a = [1,2,3,4]
while a:
    a.pop()
    4
    3
    2
    1

In [90]:
if[1,2,3]:
    print("True")
    else:
        print("Fales")

SyntaxError: invalid syntax (<ipython-input-90-187ccded85a9>, line 3)

# 자료형의 값을 저장하는 공간, 변수

In [91]:
a = 1
b = 'python'
c = [1,2,3]

In [92]:
a=3
b=3
a is b

True

In [94]:
import sys
sys.getrefcount(3)

559

In [95]:
a=3
sys.getrefcount(3)

560

In [96]:
a,b = ("python","life")

In [97]:
(a,b)

('python', 'life')

In [98]:
[a,b]=['python','life']

In [99]:
a

'python'

In [100]:
a=b='python'

In [101]:
a

'python'

In [102]:
b

'python'

In [103]:
a=3
b=5
a,b=b,a
a

5

In [104]:
b

3

In [108]:
a = [1,2,3]
b = a
a[1]=4
a
b

[1, 4, 3]

In [109]:
b

[1, 4, 3]

In [110]:
a= [1,2,3]
b = a[:]
a[1]=4
b

[1, 2, 3]

In [111]:
a

[1, 4, 3]

In [113]:
from copy import copy
b = copy(a)

In [114]:
b

[1, 4, 3]

In [115]:
b is a

False

In [116]:
b = a

In [117]:
b is a

True

# If문

In [1]:
1+3

4

In [1]:
money = 1
if money:
    print("택시를 타고 가라")
else:
        print("걸어 가라")

택시를 타고 가라

In [2]:
money = 1
if money:
    print("택시를")
    print("타고")

택시를
타고